html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  background: rgb(226, 226, 226);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.dark {
  color: rgb(226, 226, 226);
  background: #1c2022;
  min-height: 100%;
}

.bg-light {
  background: rgb(226, 226, 226);
  color: black;
}

.bg-dark {
  background: rgb(36, 40, 42);
  color: rgb(226, 226, 226);
}

.row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.nav li {
  margin-right: 10px;}

.btn-clear {
  border: none;
  background: transparent;
}